[Unit]
Description=Network Watchdog
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/pi-net-watchdog
EnvironmentFile=/home/pi/pi-net-watchdog/.env
ExecStart=/home/pi/pi-net-watchdog/venv/bin/python3 /home/pi/pi-net-watchdog/run.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target