[Unit]
Description=Network Watchdog
After=network.target

[Service]
User=apandis
WorkingDirectory=/home/apandis/watchdog
EnvironmentFile=/home/apandis/watchdog/.env
ExecStart=/home/apandis/watchdog/venv/bin/python3 /home/apandis/watchdog/run.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
